<%= form_with model: [post, comment], local: false do |f| %>
  <div class="d-flex">
    <div class="flex-grow-1 ml-3">
      <%= f.text_area :body, rows: '2', cols: '50', placeholder: "コメントする", id: "comment_textarea" %>
      <%= f.submit "投稿", class: "btn btn-primary btn-sm float-right mt-2" %>
    </div>
  </div>
<% end %>
