<!--yユーザーの詳細-->

<div>
  <%= image_tag @user.profile_image, size: "50x50" %>
  <%= @user.name %>
  <%= @user.goal %>
  <%= link_to 'プロフィールを編集する', edit_user_path(@user), class: "btn btn-sm btn-success" %>
</div>