<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ここに必要なCSSやJavaScriptのリンクなどを追加 -->
</head>
<body>

<div class="container-fluid" style="background-image: url('<%= asset_path('image1.jpg') %>');
background-size: cover; background-position: center center;height: 80vh;">

  <div class="row">
    <div class="col">
      <h4 class="py-3" style="font-size: 40px;">Let’s Trainingとは</h4>
      <p style="font-size: 18px;">トレーニングの記録・みんなの記録を見たりできるサイトです。<br>
         トレーニング後、トレーニング内容を入力し記録します。<br>
         記録はカレンダーに表示されるため、過去の記録を見返し、今後のトレーニングに役立ててください。<br>
         また、「みんなの記録」にはユーザーが記録した内容が反映されます。参考にしてください。<br>
         よろしくお願いいたします。
         </p>
    </div>
  </div>
</div>

</body>
</html>