<% @posts.each do |post| %>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-body text-dark">
    <p><%= l post.created_at, format: :short %></p>
    <h5 class="card-title"><%= post.genre.name %></h5>
    <p class="card-text"><%= post.body %></p>
　　 <%= link_to "詳細", post %>
  </div>
</div>
<% end %>